@model WebProjectFistAfterCurso.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NmProduto" class="control-label"></label>
                <input asp-for="NmProduto" class="form-control" />
                <span asp-validation-for="NmProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NtProduto" class="control-label"></label>
                <input asp-for="NtProduto" class="form-control" />
                <span asp-validation-for="NtProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a Tabela</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
