@model WebProjectFistAfterCurso.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza de que deseja excluir permanentemente esse produto?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NtProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NtProduto)
        </dd>
        <h1>
            Carlos
        </h1>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProduto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a Tabela</a>
    </form>
</div>
