@model WebProjectFistAfterCurso.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Produto</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NtProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NtProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProduto">Editar</a> |
    <a asp-action="Index">Retornar a Tabela</a>
</div>
